* {
    margin: 0;
    padding: 0;
}


/************header begin************/

.header {
	width: 100%;
	height: 100px;
	background-color: rgb(0,122,195);
	box-shadow: 0px 2px 2px grey;
}

.header .logo {
	display: inline-block;
    width: 190px;
    height: 100px;
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 90px;
}

/************header end************/



/************menu begin************/

.menu {
	display: inline-block;
	width: 360px;
	float: left;
}

.menu > a {
	display: block;
	height: 50px;
	margin: 5px;
	background-image: url(../img/1.png);
	text-shadow: 2px 2px 2px grey;
}

.menu > a:hover {
	background-image: url(../img/2.png);
}

.current {
	background-image: url(../img/2.png) !important; /*выделение текущего пункта меню*/
}

.menu > a > div {
	height: 50px;
	width: 50px;
	float: left;
	background-color: white;
}

.menu p {
	display: inline-block;
	white-space: nowrap; /*без переноса слов*/
	float: right;
	color: white;
	font: 23px bold arial, sans-serif;
	margin-top: 11px;
	margin-right: 30px;
}

.im {
	background-image: url(../img/im.png);
	background-repeat: no-repeat;
	background-position: center;
}

.zabbix {
	background-image: url(../img/zabbix.png);
	background-repeat: no-repeat;
	background-position: center;
}

.print {
	background-image: url(../img/print.png);
	background-repeat: no-repeat;
	background-position: center;
}

.exchange {
	background-image: url(../img/exchange.png);
	background-repeat: no-repeat;
	background-position: center;
}

.kerio {
	background-image: url(../img/kerio.png);
	background-repeat: no-repeat;
	background-position: center;
}

.kasper {
	background-image: url(../img/kasper.png);
	background-repeat: no-repeat;
	background-position: center;
}

.ilo {
	background-image: url(../img/ilo.png);
	background-repeat: no-repeat;
	background-position: center;
}

.sharepoint {
	background-image: url(../img/sharepoint.png);
	background-repeat: no-repeat;
	background-position: center;
}

.squid {
	background-image: url(../img/squid.png);
	background-repeat: no-repeat;
	background-position: center;
}

.internet {
	background-image: url(../img/internet.png);
	background-repeat: no-repeat;
	background-position: center;
}

.directum {
	background-image: url(../img/directum.png);
	background-repeat: no-repeat;
	background-position: center;
}

.term {
	background-image: url(../img/term.png);
	background-repeat: no-repeat;
	background-position: center;
}

.vcenter {
	background-image: url(../img/vcenter.png);
	background-repeat: no-repeat;
	background-position: center;
}

/************menu end************/



/************main begin************/

.main {
	display: inline-block;
	width: calc(100% - 360px);
	height: auto;
}

.submenu-im {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; /*перенос элементов на новую строку*/
	min-width: 400px;
}

.submenu-im a {
	display: flex;
	justify-content: center;
	height: 160px;
	width: 45%;
	min-width: 390px;
	background-color: rgb(62,190,239);
	margin-top: 60px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.submenu-im a:hover {
	background-color: rgb(0,122,195);
}

.submenu-im a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-im p {
	display: inline-block;
	color: white;
	font: 70px bold arial, sans-serif;
	margin-top: 40px;
}

/* .submenu-print {
	min-width: 1220px;
} */

.submenu-print > a {
	display: flex;
	justify-content: center;
	height: 105px;
	background-color: rgb(62,190,239);
	margin-top: 5px;
	margin-right: 5px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.submenu-print > a:hover {
	background-color: rgb(0,122,195);
}

.submenu-print > a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-print > a > p {
	display: inline-block;
	color: white;
	font: 70px bold arial, sans-serif;
	line-height: 105px; /*высота строки = высоте блока, центрирует текст по вертикали*/
}

.printers {
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin-top: 5px;
	margin-right: 5px;
}

.printers a {
	display: flex;
	justify-content: center;
	background-color: rgb(62,190,239);
	width: 14%;
	/* min-width: 150px; */
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.printers a:hover {
	background-color: rgb(0,122,195);
}

.printers a:active {
	box-shadow: 1px 1px 3px grey;
}

.printers > a > p {
	display: inline-block;
	color: white;
	font: 20px bold arial, sans-serif;
	line-height: 50px;
}

.submenu-exchange {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; /*перенос элементов на новую строку*/
	min-width: 400px;
}

.submenu-exchange a {
	display: flex;
	justify-content: center;
	height: 160px;
	width: 45%;
	min-width: 390px;
	background-color: rgb(62,190,239);
	margin-top: 60px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.submenu-exchange a:hover {
	background-color: rgb(0,122,195);
}

.submenu-exchange a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-exchange p {
	display: inline-block;
	color: white;
	font: 70px bold arial, sans-serif;
	margin-top: 40px;
}

.submenu-kerio {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; /*перенос элементов на новую строку*/
	min-width: 400px;
}

.submenu-kerio a {
	display: flex;
	justify-content: center;
	height: 160px;
	width: 45%;
	min-width: 390px;
	background-color: rgb(62,190,239);
	margin-top: 60px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.submenu-kerio a:hover {
	background-color: rgb(0,122,195);
}

.submenu-kerio a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-kerio p {
	display: inline-block;
	color: white;
	font: 70px bold arial, sans-serif;
	margin-top: 40px;
}

.submenu-ilo {
	/* min-width: 1220px; */
	display: flex;
	justify-content: space-around;
}

.submenu-ilo .rack {
	width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 5px;
}

.submenu-ilo .rack > p {
	height: 50px;
	display: inline-block;
    color: rgb(0,122,195);
    font: 23px bold arial, sans-serif;
    line-height: 50px;
    text-align: center;
  }

.submenu-ilo .rack a {
	height: 50px;
	width: 100%;
	display: block;
    color: white;
    background-color: rgb(62,190,239);
    font: 23px bold arial, sans-serif;
    line-height: 50px;
    text-decoration: none;
    margin-top: 5px; 
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    text-shadow: 2px 2px 2px grey;
}

.submenu-ilo .rack a:hover {
	background-color: rgb(0,122,195);
}

.submenu-ilo .rack a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-ilo .rack a p {
	text-align: center;
}

/*****юниты, для которых пока нет ILO - class="disabled" *****/

.submenu-ilo .rack .disabled {
	cursor: not-allowed;
	background-color: rgb(255,128,128);
	box-shadow: none;
	text-shadow: none;
}

.submenu-ilo .rack .disabled:hover {
	background-color: rgb(255,128,128);
}

/************************************************************/

.submenu-sharepoint {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; /*перенос элементов на новую строку*/
	min-width: 400px;
}

.submenu-sharepoint a {
	display: flex;
	justify-content: center;
	height: 160px;
	width: 45%;
	min-width: 390px;
	background-color: rgb(62,190,239);
	margin-top: 60px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.submenu-sharepoint a:hover {
	background-color: rgb(0,122,195);
}

.submenu-sharepoint a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-sharepoint p {
	display: inline-block;
	color: white;
	font: 70px bold arial, sans-serif;
	margin-top: 40px;
}

.submenu-internet {
	width: 400px;
}

.submenu-internet form input {
	width: 390px;
	height: 48px;
	margin: 5px 5px 0px 5px;
	border: 1px solid gray;
    border-radius: 5px;

    text-align: center;
    color: gray;
    font: 25px bold arial, sans-serif;
    line-height: 44px;
}

.submenu-internet form input::placeholder { /*Современные браузеры*/
	opacity: 0.5;
}

.submenu-internet form input:-ms-input-placeholder { /*IE 10-11*/
	opacity: 0.5;
}

.submenu-internet form select {
	height: 48px;
	margin: 5px 5px 0px 5px;
	border: 1px solid gray;
    border-radius: 5px;

    text-align: center;
    color: gray;
    font: 25px bold arial, sans-serif;
    line-height: 44px;
}

#year {
	width: 40%;
}

#mounth {
	width: 54%;
}

.submenu-internet form button{
	width: 394px;
	height: 50px;
	margin: 5px 5px 0px 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	background-color: rgb(62,190,239);
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;

	color: white;
    font: 25px bold arial, sans-serif;
    line-height: 44px;
}

.submenu-internet form button:hover {
	background-color: rgb(0,122,195);
}

.submenu-internet form button:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-term {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; /*перенос элементов на новую строку*/
	min-width: 435px;
}

.submenu-term a {
	display: flex;
	justify-content: center;
	height: 160px;
	width: 45%;
	min-width: 435px;
	background-color: rgb(62,190,239);
	margin-top: 60px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.submenu-term a:hover {
	background-color: rgb(0,122,195);
}

.submenu-term a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-term p {
	display: inline-block;
	color: white;
	font: 70px bold arial, sans-serif;
	margin-top: 40px;
}

.submenu-vcenter {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; /*перенос элементов на новую строку*/
	min-width: 440px;
}

.submenu-vcenter a {
	display: flex;
	justify-content: center;
	height: 160px;
	width: 45%;
	min-width: 440px;
	background-color: rgb(62,190,239);
	margin-top: 60px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 2px 2px 2px grey;
}

.submenu-vcenter a:hover {
	background-color: rgb(0,122,195);
}

.submenu-vcenter a:active {
	box-shadow: 1px 1px 3px grey;
}

.submenu-vcenter p {
	display: inline-block;
	color: white;
	font: 70px bold arial, sans-serif;
	margin-top: 40px;
}

/************main end************/



/************footer begin************/

.footer {
	width: 100%;
	height: 100px;
	background-color: rgb(0,122,195);
	margin-top: 5px;
	clear: both; /*отмена обтекания с обеих сторон*/
	box-shadow: 0px 2px 2px grey;
}

/************footer end************/